/*Style for the header*/
.header{
	padding: 20px;
  font-size: 40px;
	text-align: center;
	color: rgb(226, 156, 25);
  background-image: url('../media/sea-edge-79ab30e2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

 

}



/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #000408;

 
}


/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

/*Style for placement of the search bar*/
.navbar .login{
	 float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #789ec5;
  color: rgb(143, 50, 127);
}



/*Style for the search button*/
.navbar .search button {
  float: right;
  display: block;
  padding: 2px 4px;
  margin-top: .5px;
  margin-right: 10px;
  background: rgb(0, 0, 0);
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.act1{
  padding: 70px;
  font-size: 20px;
  text-align: center;
  background-color: #10035a;
  color: rgb(0, 255, 255);
 
}
.act2{
  padding: 100px;
font-size: 20px;
  text-align: left;
  background-color: #10035a;
  color: rgb(255, 255, 255);
}

.fright{
  float:right;
}




/*Style for the header*/
.footer{
	padding: 10px;
	text-align: center;
	background-color: #10035a;
	color: white;
	bottom: 0;
	width: 100%;
}

/*Style to try center the table*/
.table {
	padding-left: 20px;
}

/*Style for the table headers*/
.table th{
	padding-top: 10px;
	padding-bottom: 10x;
	text-align: center;
	background-color: #06ffff;
	color: rgb(189, 0, 0);
	border: 1px solid rgb(194, 22, 180);
  	padding: 8px;
}

/*Style for the main body*/
body{
	padding: 0;
	margin: 0;
  text-align: center;

}







/*Style for paragraphs in the Header*/
.header #headerp {
	padding: none;
}

/*Style for horizontal breaks*/
hr{
	background-color: #070707;
	height: 1px;
	border: none;
}

/*Style for all h2's*/
h2{
	color: #ffffff;
	padding: 20px;
  text-align: left;
}
h3{
	color: #ffffff;
	padding: 20px;
  text-align: left;
}

/*Style for paragraphs*/
p{
	padding-left: 20px;
}




/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  height: 20%;
}

.container {
  padding: 8px;
}

span.psw {
  float: right;
  padding-top: 16px;
}






/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}





